<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.heng.spring.test.service.UserDao"/>

    <bean id="userService" class="com.heng.spring.test.service.UserService">
        <property name="uId" value="10001"/>
        <property name="userDao" ref="userDao"/>
        <property name="company" value="九天凌霄"/>
    </bean>

    <bean id="myProxy" class="com.heng.spring.test.service.ProxyBeanFactory"/>

    <bean class="com.heng.spring.test.service.MyBeanFactoryPostProcessor"/>

    <bean class="com.heng.spring.test.service.MyBeanPostProcessor"/>

</beans>